* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    padding: 15px;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col .col-content {
    width: 100%;
    height: 100%;
     background-color: #fff; /* Hexadecimal - abcdef123456789  */
     /* background-color: rgb(128, 128, 128); /* rgb(128, 128, 128) - rgb => red, green, blue */
     /* background-color: /* rgba(0, 0, 0, 0.7); */ 
    }
