* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    background: yellow;
    height: 800px;
}

.flex-item {
    /* flex-grow: 1;
    flex-basis: 320px;
    flex-shrink: 0; */
    /* flex: 1 1 320px; */
    width: 100%;
    color: white;
    background-color: red;
}

/* .flex-item:nth-child(2) {
    flex: 10 1 320px;
    background-color: purple;
} */

/* .flex-item:nth-child(3) {
    align-self: flex-end;
}

.flex-item:nth-child(4) {
    align-self: center;
} */

body {
    font-size: 26px;
}

p {
    margin: 0 0 24px;
}

.two-columns {
    display: flex;
}

.two-columns .col {
    display: flex;
    flex-direction: column;
    background: blue;
    margin: 15px;
    padding: 15px;
}

.gallery {
    flex-flow: row wrap;

    display: flex;
}

.gallery .img {
    flex: 1 0 20%;
    height: 50px;
    background-color: blue;
    margin: 10px;
}
