* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    /* align-content: center; */
    background: white;
    height: 640px;
}

.flex-item {
    width: 33.33%;
    background-color: red;
    color: white;
    /* margin: 10px;
    padding: 10px; */
}
