p {
    font-size: 25px;
}

.heading:hover {
    transition: all 0.3s ease-in-out;
    background-color: yellow;
}

a {
    color: darkorange;
}

a:link {
    color: darkgreen;
}

a:visited {
    color: deeppink;
}

a:hover {
    background: darkcyan;
    color: white;
    text-decoration: none;
}

a:active {
    background: black;
    color: white;
    text-decoration: none;
}

.text-input {
    font-size: 15px;
}

input:focus {
    box-shadow: 0 0 5px black;
    outline: none;
}

input:checked + label {
    font-size: 30px;
}

input:not(:checked) + label {
    background-color: yellow;
}

.container .list li:first-child {
    background-color: cyan;
}

.container .list li:last-child {
    background-color: darkgray;
}

p:not(.non-blue-paragraph) {
    color: blue;
}

ul.list li:nth-child(odd) {
    background-color: cyan;
}

ul.list li:nth-child(even) {
    background-color: pink;
}

ul.list li:nth-child(3n) {
    background-color: darkturquoise;
}

ul.list li::before {
    content: ' -- ';
    background-color: red;
    color: #fff;
}

ul.list li::after {
    content: ' -- ';
    background-color: green;
    color: #fff;
}

.highlighted-paragraph::first-letter {
    font-size: 50px;
    display: block;
    float: left;
    margin: 0px 10px 10px 0px;
}

.highlighted-paragraph::first-line {
    font-style: italic;
}

p::selection {
    background-color: black;
    color: white;
}

.text-input::placeholder {
    color: red;
}