* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 3 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

.grid {
    width: calc(100% + 30%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin-right: -30px;
}

.grid div {
    background: tomato;
    min-height: 100px;
    padding: 10px;
    gap: 30px 30px;
}

.grid div:nth-child(5) {
    background: red;
    grid-column: span 2;
    /* grid-column-start: um;
    grid-column-end: quatro; */
    /* grid-column: span um / quatro; */
    /* grid-column: span 2 / 4; */
    /* grid-row: um / quatro; */
    /* grid-area: um / um / quatro / quatro; */
    /* grid-area: 1 / 1 / 4 / 4; */
}

@media (max-width: 768px) {
    .grid div:nth-child(5) {
        background: red;
        grid-column: span 1;
    }
}