* {
    border: 0;
    padding: 0;
}

/* .pai h1 + p {
    color: red;
}

.pai h1 ~ p {
    color: red;
} */

[meu-atributo~="valor1"] {
    color: green;
}

[meu-atributo="valor1"] {
    color: blue;
}

/* [meu-atributo^="v"] {
    color: pink;
} */

/* [meu-atributo$="1"] {
    color: pink;
} */

